parameters:
	dynamicConstantNames:
		- LINT_COMPOSER_FOLDER
		- LINT_ROOT_FOLDER
	bootstrapFiles:
		- src/require.php
	checkMissingIterableValueType: false
	inferPrivatePropertyTypeFromConstructor: true